<div class="year-icons">
  <button class="year-icon" style="background-color:#DB4437" >2024extd</button>
  <button class="year-icon" style="background-color:#F4B400">2024</button>
  <button class="year-icon" style="background-color:#0F9D58">2023</button>
</div>

<h1 class="top-performers-title" style="color:#4285F4">Gen-AI Study Jam <span>Top Performers</span></h1>

<div class="top-profiles-container" *ngIf="topProfiles && topProfiles.length > 0">

        <ul  *ngFor="let profile of topProfiles">
          <div class="profile">
          <img src="path_to_image_2" alt="Profile 2">
          <p>{{ profile.username }}<br> {{ profile.email }}</p>
          <p><br><a [href]="profile.skillsBoostUrl" target="_blank">Skills Boost Profile</a></p>
          <p><br>{{ profile.badges }} Number of badges</p>
          </div>
        </ul>
</div>

<!-- Display a message if there are no top profiles -->
<div *ngIf="topProfiles && topProfiles.length === 0">
  No top profiles available.
</div>
<h2>Remaining Profiles</h2>
<div *ngIf="remainingProfiles && remainingProfiles.length > 0">
  <table>
    <thead>
      <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>SkillsBoostProfile</th>
        <th>Badges</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of paginatedProfiles">
        <td>{{ profile.username }}</td>
        <td>{{ profile.email }}</td>
        <td>
          <a [href]="profile.skillsBoostUrl" target="_blank" rel="noopener noreferrer">
            <img src="assets/imageGDG.jpg" alt="Description of Image" width="25" height="25" />
          </a>
        </td>
        <td>{{ profile.badges }}</td>
      </tr>
    </tbody>
  </table>

  <div class="dropdowncont">
    <label for="myDropdown" class="pagedrop">Profiles per page:</label>
    <select id="myDropdown" (change)="onPageChange($event)">
      <option value="5">5</option>
      <option value="15">15</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </div>

  <div class="cont">
    <button class="prev" (click)="previousPage()" [disabled]="pg === 1">Previous</button>
      <span *ngFor="let page of pageNumbers">
        <div  *ngIf="(page > pg - 2 && page < pg + 2) || page === 1 || page === totalPages">
          <button (click)="goToPage(page)" [class.active]="pg === page">{{ page }}</button>
        </div>
        <div   *ngIf="page === pg - 2 && pg > 3">...</div>
        <div  *ngIf="page === pg + 2 && pg < totalPages - 2">...</div>
      </span>
    <button class="next" (click)="nextPage()" [disabled]="pg === totalPages">Next</button>
  </div>
</div>

<div *ngIf="remainingProfiles && remainingProfiles.length === 0">
  No remaining profiles available.
</div> 
