/* Adjust logo size for responsiveness */
.header-logo {
  width: 80px;
  height: auto;
}

@media (max-width: 576px) {
  /* Reduce logo size on mobile */
  .header-logo {
    width: 50px;
  }

  /* Center title and logo spacing for mobile view */
  header {
    justify-content: start;
    gap: 10px; /* Adjust spacing between logo and title */
  }
}

/* Limit image width on large screens */
.carousel-image {
  max-width: 50%; /* Adjust percentage as needed */
}

/* Full width for small and medium screens */
@media (max-width: 992px) {
  .carousel-image {
    max-width: 100%;
  }
}

.search-container {
  width: 100%;
  max-width: 300px; /* Restrict the width of the search container */
}

.pagedrop {
  font-size: 1rem; /* Adjust font size for the label */
}

.form-select {
  max-width: 150px; /* Restrict the width of the select dropdown */
}

.genai-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #4285F4, #34A853, #FBBC05, #EA4335);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.1);
  animation: headingAnimation 2s ease-in-out infinite;
}

@keyframes headingAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
