<div class="year-icons">
  <button class="year-icon" style="background-color:#DB4437" >2024extd</button>
  <button class="year-icon" style="background-color:#F4B400">2024</button>
  <button class="year-icon" style="background-color:#0F9D58">2023</button>
</div>

<h1 class="top-performers-title" style="color:#4285F4">Gen-AI Study Jam <span>Top Performers</span></h1>

<div class="top-profiles-container">
  <div class="profile">
    <img src="path_to_image_2" alt="Profile 2">
    <p>Member 2</p>
  </div>
  <div class="profile">
    <img src="path_to_image_1" alt="Profile 1">
    <p>Member 1</p>
  </div>
  <div class="profile">
    <img src="path_to_image_3" alt="Profile 3">
    <p>Member 3</p>
  </div>
</div>
